.hero{
    background-color : #dfc9a4;
    text-align : center;
    padding : 100px;
    color: #1C1C1C;
}

img{
    width : 150px;
    border-radius : 50%;
}

button{
    border : none;
    padding : 10px 20px;
    background-color : white;
    cursor : pointer;
}

table{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th{
    background-color: #dfc9a4 ;
    color: rgb(6, 0, 0);
    padding: 15px;
    text-align: left;
}

td,th{
      border: 1px solid #ddd;
      padding: 12px;
}

caption{
    font-size: 1.5em;
    margin-bottom: 10px;
    color: rgb(0, 0, 0);
}